/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$font-family-sans-serif: "Google Sans", "Roboto", sans-serif !default;

// Google Color Palette
$primary: #174EA6 !default; // Blue
$secondary: #9AA0A6 !default; // Grey
$success: #34A853 !default; // Medium green
$info: #4285F4 !default; // Medium blue
$warning: #FBBC04 !default; // Yellow
$danger: #EA4335 !default; // Medium red
$light: #F1F3F4 !default; // Light grey
$dark: #202124 !default; // Black